// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts' as vp;
header{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
             @include vp.reset-list();
             gap: 50px;
             a{
                
                &:hover{
                      color: vp.$green;
                      position: relative;
                
                    &::before{
                    
                        content: "";
                        width: 80%;
                        height: 2px;
                        background-color: vp.$blue;
                        position: absolute;
                        left: 10%;
                        top: 25px;
                    }
               }
              
            }
            
         }
      }
    
    aside{
        
        ul{
            @include vp.reset-list();
            gap: 30px;
            a{
                text-decoration: underline; 
            }
           
        }
    }
}