// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts' as vp;
header{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
          @include vp.reset-list();
          gap: 50px;
          a.submenu{
            position: relative;
            img{
                position: absolute;
                bottom: -3px;
                right: -25px;

            }
            

          }
          a:hover{
            color: vp.$green;
            text-decoration: underline;
            font-size: 18px;   
          }  
        }
    }
    aside{
        
        ul{
            @include vp.reset-list();
            gap: 30px;
            a{
                text-decoration: underline; 
            }
           
        }
    }
}