@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  color: abstracts.$blue;
  font: normal 125% / 1.4 abstracts.$font-primary;
  min-height: 100vh;
  position: relative;
  &::before{
    content: "";
    background-image: url(../abstracts/spa.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 80%;
    width: 34%;
    top: 27px;
    right:88px;
    bottom: 0;
    z-index: -1;
  }
 
 }
